._42ft{cursor:pointer;display:inline-block;text-decoration:none;white-space:nowrap}._42ft:hover{text-decoration:none}._42ft+._42ft{margin-left:4px}._42fr,._42fs{cursor:default}

#bootloader_XQN3UBD{height:42px;}.bootloader_XQN3UBD{display:block!important;}